{% extends 'base_login.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row">
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-sm-4">
            <div class="card" style="margin-top: 150px;">
                <h5 class="card-header">Plan Financier</h5>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger text-center"> Connexion refusée </div>
                    {% endif %}
                        <form method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="form-group">
                            <input type="email" placeholder="Adresse Email" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Mot de passe" id="inputPassword" class="form-control" required>
                        </div>
                        <button type="submit" name="submit" class="btn btn-success float-right">Valider</button>
                        <div class="clearfix">&nbsp;</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">&nbsp;</div>
    </div>
{% endblock %}