{% extends 'base.html.twig' %}

{% block title %}Plan Financier - Dashboard{% endblock %}
{% block body %}

<div class="clearfix"> &nbsp; </div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<div class="clearfix"> &nbsp; </div>

<div class="container"> 
    <div class="card">
        <div class="card-header">
                Prévisionnel
        </div>
        <div class="clearfix"> &nbsp; </div>
        <div class="row">
            <div class="col"> 
                <div class="card text-center">
                    <div class="card-header">
                        Entrées du mois courant (juillet)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">6 000 € </h5>
                        <a href="#" class="btn btn-primary">Vers Entrées</a>
                    </div>
                </div>
            </div>
            <div class="col"> 
                <div class="card text-center">
                    <div class="card-header">
                        Dépenses du mois courant (juillet)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">5 000 € </h5>
                        <a href="#" class="btn btn-primary">Vers Dépenses</a>
                    </div>
                </div>
            </div>
            <div class="col"> 
                <div class="card text-center text-white bg-success">
                    <div class="card-header">
                        Différence
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> + 1 000 €</h5>
                        <a href="#" class="btn btn-primary">Vers Résumé</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"> &nbsp; </div>

<div class="container"> 
    <div class="card">
        <div class="card-header">
                Réel
        </div>
    <div class="clearfix"> &nbsp; </div>
    <div class="row">
        <div class="col"> 
            <div class="card text-center">
                <div class="card-header">
                    Entrées du mois courant (juillet)
                </div>
                <div class="card-body">
                    <h5 class="card-title">5 990 € </h5>
                    <a href="#" class="btn btn-primary">Vers Entrées</a>
                </div>
            </div>
        </div>
        <div class="col"> 
            <div class="card text-center">
                <div class="card-header">
                    Dépenses du mois courant (juillet)
                </div>
                <div class="card-body">
                    <h5 class="card-title">5 010 € </h5>
                    <a href="#" class="btn btn-primary">Vers Dépenses</a>
                </div>
            </div>
        </div>
        <div class="col"> 
            <div class="card text-center text-white bg-success">
                <div class="card-header">
                    Différence
                </div>
                <div class="card-body">
                    <h5 class="card-title"> + 980 €</h5>
                    <a href="#" class="btn btn-primary">Vers Résumé</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clearfix"> &nbsp; </div>

<div class="container"> 
    <div class="card">
        <div class="card-header">
                Différence entre réel et prévisionnel
        </div>
    <div class="clearfix"> &nbsp; </div>
    <div class="row">
        <div class="col"> 
            <div class="card text-center text-white bg-danger">
                <div class="card-header">
                    Entrées du mois courant (juillet)
                </div>
                <div class="card-body">
                    <h5 class="card-title"> - 10 € </h5>
                </div>
            </div>
        </div>
        <div class="col"> 
            <div class="card text-center text-white bg-danger">
                <div class="card-header">
                    Dépenses du mois courant (juillet)
                </div>
                <div class="card-body">
                    <h5 class="card-title">+ 10 € </h5>
                </div>
            </div>
        </div>
        <div class="col"> 
            <div class="card text-center text-white bg-danger">
                <div class="card-header">
                    Différence
                </div>
                <div class="card-body">
                    <h5 class="card-title"> - 20 €</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"> &nbsp; </div>

<div class="container"> 
    <div class="row">
        <div class="col"> 
            <div class="card text-center">
                <div class="card-header">
                    Utilisateurs
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{users}} actifs</h5>
                    <a href="{{path('app_user')}}" class="btn btn-primary">Vers Utilisateurs</a>
                </div>
            </div>
        </div>
        <div class="col"> 
            <div class="card text-center">
                <div class="card-header">
                    Epargnes
                </div>
                <div class="card-body">
                    <h5 class="card-title">6 comptes</h5>
                    <a href="#" class="btn btn-primary">Vers Epargnes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"> &nbsp; </div>

{% endblock %}


